.dragTableRow {
  >td {
    background-color: #c7c3fa;
    border-right: 1px solid #e8e8e8;
    padding: 8px 8px;
    border-bottom: 1px solid #e8e8e8;
    transition: all 0.3s, border 0s;
    word-break: break-word;
    min-width: 32px;
    // &:first-child {
    //   width: 50px;
    // }
    // &:nth-child(2) {
    //   width: 100px;
    // }
    // &:nth-child(3) {
    //   width: 100px;
    // }
    // &:nth-child(4) {
    //   width: 50px;
    // }
    // &:nth-child(5) {
    //   width: 50px;
    // }
    // &:nth-child(6) {
    //   width: 50px;
    // }
    // &:nth-child(7) {
    //   width: 50px;
    // }
    // &:nth-child(8) {
    //   width: 200px;
    // }
    // &:nth-child(9) {
    //   width: 600px;
    // }
    // &:nth-child(10) {
    //   width: 100px;
    // }
    // &:nth-child(11) {
    //   width: 100px;
    // }
    // &:nth-child(12) {
    //   width: 150px;
    // }
    // &:nth-child(13) {
    //   width: 250px;
    // }
    // &:nth-child(14) {
    //   width: 150px;
    // }
    // &:nth-child(15) {
    //   width: 150px;
    // }
    // &:nth-child(16) {
    //   width: 150px;
    // }
    // &:nth-child(17) {
    //   min-width: 150px;
    // }
  }
}
