// @import '~antd-table-infinity/dist/index.css';
@import '~antd/es/style/themes/default.less';
@blue: #008cff;

html,
body,
#root {
  height: 100%;
  background-color: #f0f2f5;
}
canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  list-style: none;
}

#refLoadingPlaceholder {
  display: none !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: @blue;
}
::-webkit-scrollbar-track {
  background-color: #bee1eb;
}
.ant-pro-global-header-trigger {
  display: none;
}
.colorWeak {
  filter: invert(80%);
}

[class^="text-nowrap-"] {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-nowrap-350 {
  width: 320px;
}
.text-nowrap-200 {
  width: 165px;
}
.text-nowrap-150 {
  width: 125px;
}
.text-nowrap-100 {
  width: 80px;
}
.ant-layout {
  min-height: 100vh;
}
.table-components {
  display: flex;
  flex-direction: column;
  height: 100%;
  .ant-pagination {
    text-align: right;
    margin-top: 10px;
  }
}
.table-container {
  overflow: auto;
  .ant-table-content>.ant-table-body {
    margin-left: 0 !important;
  }
  .ant-table-bordered {
    border: none;
    .ant-table-content {
      border-right: none !important;
      table {
        border: 1px solid #e8e8e8!important;
      }
    }
  }
  td,
  th {
    white-space: nowrap;
  }
}
.ant-table-thead>tr>th {
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
  text-align: left;
  background-color: #fafafa !important;
  transition: background .3s ease;
}
.ant-pro-basicLayout-content>.ant-layout {
  background-color: #fff;
  padding: 20px;
}
.ant-card.search-card {
  .ant-card-body {
    padding: 15px 20px;
  }
  .ant-form-item {
    margin: 5px 0;
  }
  .ant-input,
  .ant-select {
    font-size: 12px;
  }
  .ant-btn {
    margin-left: 10px;
  }
  label {
    font-size: 12px;
  }
}



@media (max-width: @screen-xs) {
  .ant-table {
    width: 100%;
    overflow-x: auto;
    &-thead>tr,
    &-tbody>tr {
      >th,
      >td {
        white-space: pre;
        >span {
          display: block;
        }
      }
    }
  }
}
